@import "knacss";

$blue: #1485CC;
$dark-blue: #0971B2;

body{
	background-color: #fff;
}
.container{
	background-color: #f8f8f8;
	box-shadow: 0 2px 6px rgba(100, 100, 100, .8);
	margin-bottom: 80px;
	margin-top: 80px;
	position: relative;
	z-index: 20;
}
a{
	color: $blue;
}
a:hover{
	color: $dark-blue;
}
.container3d{
	height: 200px;
	padding: 0 0 10px 10px;
	perspective: 800px;
	width: 200px;
}
.picture{
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
	width: 100%;
}
.picture div{
	backface-visibility: hidden;
	height: 100%;
	position: absolute;
	width: 100%;
}
.picture .front{
	background: red;
}
.picture .back{
	background: blue;
	transform: rotateY(-180deg);
}
.picture:hover{
	transform: rotateY(-180deg);
}

.download a:before{
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 24px;
	padding-right: 5px;
	vertical-align: bottom;
	width: 24px;
}
.pdf{
	margin-right: 20px;
}
.pdf:before{
	background-image: url("/dist/img/PDF-icon.png");
}
.word:before{
	background-image: url("/dist/img/Word-icon.png");
}